site_name: Will Dean
site_url: https://williambdean.github.io/
site_description: Personal Website for Will Dean

repo_name: williambdean.github.io
repo_url: https://github.com/williambdean/williambdean.github.io
edit_uri: blob/main/docs/

theme: 
  name: material
  custom_dir: docs/overrides
  features: 
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.expand
    - navigation.top
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mkdocs-video
  - tags:
      tags_file: blog/index.md
  - markdownextradata
  - git-revision-date-localized: 
      enable_creation_date: true
  # - mkdocs-jupyter

markdown_extensions:
  - admonition
  - md_in_html
  - pymdownx.highlight: 
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra: 
  social: 
    - icon: fontawesome/brands/github
      link: https://github.com/williambdean
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/williambdean/
  analytics: 
    provider: google
    property: G-R1GGWK6LCW

nav:
  - Welcome: index.md
  - Blog: 
    - blog/index.md
    - 2025:
      - blog/posts/2025/automate-docs-with-marimo.md
      - blog/posts/2025/pytest-debugging.md
    - 2024:
      - blog/posts/2024/pymc-marketing-strategy-pattern.md
    - 2023: 
      - blog/posts/2023/docker-container.md
      - blog/posts/2023/iteration-pattern.md
      - blog/posts/2023/extending-pandas.md
      - blog/posts/2023/conjugate-priors.md
    - 2022: 
      - blog/posts/2022/pathlib.md
      - Pydantic for Configs: blog/posts/2022/pydantic-configs.md
      - blog/posts/2022/site-setup.md
  - Open Source: open-source.md
